    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>TapeXPlayer</string> 
        <key>CFBundleIdentifier</key>
        <string>com.ffbsoffa.fstapexplayer</string> 
        <key>CFBundleName</key>
        <string>TapeXPlayer</string>
        <key>CFBundleDisplayName</key>
        <string>TapeXPlayer</string> 
        <string>1.0.0</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0a</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>FSTP</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.15</string> 
        <key>NSHumanReadableCopyright</key>
        <string>Copyright © 2025 Maksim Maloletkin (FFB_soffa). All rights reserved.</string>
        
        <key>CFBundleIconFile</key>
        <string>TapeXPlayer.icns</string>

        <!-- Для обработки URI txp:// -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>TapeXPlayer URL</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fstp</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
            </dict>
        </array>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>

    </dict>
    </plist>